.hero {
  width: 100%;
  height: 450px;
  background-color: #DE913F;
  color: #fff;
  position: relative;

  &__kids {
    position: absolute;
    right: 10%;
    bottom: 0;
    height: 100%;
    max-height: 450px;
    width: auto;
    z-index: 2;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__subtitle {
    font-size: 18px;
    letter-spacing: 10.7px;
  }

  &__title {
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    max-width: 30%;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
  }

  &__btn {
    font-size: 16px;
    margin-top: 20px;
    background-color: #fff;
    color: #212121;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: 600;
    // border: 1px solid #212121;
  }
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/images/hero_bcg.png');
  background-size: 50%;
  opacity: .2;
  pointer-events: none;
  z-index: 0;
}