.other {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__item {
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    padding-bottom: 40px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .15);
    background-color: #fff;
  }

  &__image {
    width: 100%;
    height: 220px;
    border-radius: 30px;
  }

  &__content {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 35%;
    padding-top: 10px;
  }

  &__name {
    font-size: 28px;
    margin: 15px 0 5px;
  }

  &__link {
    margin-top: auto;
    font-weight: 400;
    font-size: 18px;
  }

  &__item--span-2 {
    grid-column: span 2;
  }
}