body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #212121;
  font-weight: 600;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
dl,
dd {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  display: block;
}

.layout{
  padding: 60px 200px 20px;
}

h2{
  // display: inline-block;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  // margin: 60px auto 40px;
}

.section-decor{
  position: relative;
  
}

.section-decor::before{
 content:"";
  position:absolute;
  inset:-120px;
  pointer-events:none;
  opacity:.6;
  background:
    radial-gradient(circle at 10% 14%, rgba(255,179,71,.18) 0 52px, transparent 53px),
    radial-gradient(circle at 22% 34%, rgba(255,179,71,.12) 0 36px, transparent 37px),
    radial-gradient(circle at 18% 78%, rgba(255,179,71,.10) 0 70px, transparent 71px),

    radial-gradient(circle at 45% 20%, rgba(17,17,17,.05) 0 42px, transparent 43px),
    radial-gradient(circle at 52% 62%, rgba(17,17,17,.04) 0 88px, transparent 89px),
    radial-gradient(circle at 42% 88%, rgba(17,17,17,.04) 0 56px, transparent 57px),

    radial-gradient(circle at 78% 18%, rgba(255,179,71,.16) 0 62px, transparent 63px),
    radial-gradient(circle at 92% 36%, rgba(255,179,71,.10) 0 40px, transparent 41px),
    radial-gradient(circle at 86% 58%, rgba(17,17,17,.04) 0 92px, transparent 93px),
    radial-gradient(circle at 90% 86%, rgba(255,179,71,.12) 0 74px, transparent 75px),

    radial-gradient(circle at 66% 38%, rgba(255,179,71,.10) 0 34px, transparent 35px),
    radial-gradient(circle at 64% 82%, rgba(255,179,71,.08) 0 44px, transparent 45px),
    radial-gradient(circle at 34% 52%, rgba(255,179,71,.08) 0 28px, transparent 29px);
  z-index:0;
}

.section-decor__bg{
  position: absolute;
  inset: 0;
  overflow: hidden;      /* кружочки не вылезают за секцию */
  border-radius: 28px;   /* если секция скруглена */
  pointer-events: none;
  z-index: 0;
}

.section-decor > *{
  position: relative;
  z-index: 1;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site__main {
  flex: 1 0 auto;
}

.footer {
  margin-top: auto; /* на всякий случай прижимает вниз */
}