.program,
.birthday {

  span,
  p {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.55;
    text-align: justify;
  }

  &__section-title,
  &__subtitle {
    text-align: left;
    margin: 15px 0 8px;
    font-size: 24px;
    font-weight: 500
  }

  &__list-text {
    padding-left: 50px;
  }

  &__list-text::before {
    content: "--";
    letter-spacing: -0.16em;
    padding-right: 15px;
    color: #DE913F;
  }

  &__cta-link{
    padding: 10px 20px;
    background-color: #DE913F;
    color: #fff;
    border-radius: 30px;
    margin-top: 20px;
    display: inline-block;
  }
}