@use "../base/reset";

@use "../blocks/header";
@use "../blocks/footer";

@use "../blocks/hero";
@use "../blocks/advantages";
@use "../blocks/categories";
@use "../blocks/news";
@use "../blocks/other";
@use "../blocks/request";
@use "../blocks/contact";